# URL del Servidor Backend de LangGraph (Python)
VITE_LANGGRAPH_API_URL=https://planifica-langchain-production.up.railway.app

# Client ID de Google OAuth 2.0 (Obtenido desde Google Cloud Console)
VITE_GOOGLE_CLIENT_ID=362030125332-hds3kqha6lvdec4n7947q2kaif33q2mc.apps.googleusercontent.com
